*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Nanum Gothic', sans-serif;
    background: #e2e1e0;
}
#start{
    margin: 0 auto;
    width: 120px;
    margin-top: 250px;
    background: green;
    color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.container{
    width: 100%;

}
.row{
    margin-top: 80px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#question{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 50px;;
}
#question p{
    font-size: 30px;
    font-weight: bold;
}
#hello{
    text-align: center;
}


#btn-gp{
    width: 90%;
    height: 1300px;
    margin: 0 auto;

}
::-webkit-scrollbar {
    display: none;
}
.cat_btn{
    
    width: 49%;
    float: left;
    height: 23%;
    background: red;
    margin: 2px;
    border-radius: 4px;
    padding: 20px 0px 0px 30px;
    position: relative;
    
}
.fas,.fab{
    font-size: 100px;
    position: absolute;
    top: 80px;
    left: 210px;
    color: white;
}
.fas.fa-plus-square{
    left: 250px;
    top: 95px;
    font-size: 70px;
    position: absolute;
}
.fas.fa-vial{
    position: absolute;
    font-size: 80px;
    left: 250px;
}
.fas.fa-film{
    position: absolute;
    font-size: 80px;
    left: 240px;
}
.icon-text{
    position: absolute;
    top: 180px;
    left: 250px;
    color: white;

}
.icon-text.film{
    position: absolute;
    left: 250px;
}
.fas.fa-calculator{
    position: absolute;
    left: 240px;
    font-size: 80px;
}
.icon-text.cal{
    position: absolute;
    left: 250px;
    top: 180px;
}
.fas.fa-rocket{
    position: absolute;
    font-size: 70px;
    left: 260px;
}
.icon-text.phy{
    position: absolute;
    left: 270px;
}
.fab.fa-html5{
    position: absolute;
    left: 240px;
}
.icon-text.html{
    position: absolute;
    left: 260px;
}
.fas.fa-tv{
    position: absolute;
    left:270px;
    top: 100px;
    font-size: 60px;
}
.icon-text.com{
    position: absolute;
    left: 270px;
}
.computer{
    background: black;
}
.english{
    background: green;
}
.medicine{
    background: blue;
}
.technology{
    background: violet;
}
.math{
    background: red;
}
.physics{
    background: midnightblue;
}
.web{
    background: #DE4D34;
}
#choices{
    width: 100%;
    height: 260px;
    margin: 0 auto;
    margin-top: 30px;
}
.choice{
    width: 48%;
    height: 48%;
    float: left;
    background: green;
    margin: 3px;
    margin-left: 5px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    padding-top: 40px;
    color: white;
    font-size: 30px;
}
.choice:hover{
    border: 2px solid black;
}

#img{
    width: 100%;
    height: 40%;
    background: black;
    margin:0;
    padding: 0;
}
#img img{
    width: 100%;
    height: 100%;
}
#progress{
    height: 5%;
    width: 100%;
    margin: 20px 0 0 5px;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#timer{
    width: 70%;
    height: 40%;
    margin: 0 auto;
    margin-top: 50px;
}
#counter{
    font-size: 5em;
    text-align: center;
}
#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left: 35px;
}
#timeGauge{
    height : 10px;
    width: 15px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-left: 35px;
    margin-top: -10px;
}
#scoreContainer{
    margin : 0 auto;
    height: 150px;
    width : 600px;
    display: none;
    margin-top: 100px;
    padding: 10px;
}

#scoreContainer p{


    font-size: 3em;
    text-align: center;

}
.mini-timer{
    display: none;
}

@media only screen and (max-width: 600px) {
    #scoreContainer p{
      font-size: 2.5em;
    }
    #scoreContainer{
        width: 500px;
    }
    .choice{
        height: 45%;
        width: 45%;
        font-size: 20px;
    }
    .prog{
        width: 18px;
        height: 18px;
    }
    .choice{
        width: 100%;
        height: 20%;
        text-align: center;
        padding: 10px;
        background: white;
        color: black;
        border: green 1px solid;
        border-radius: 4px;
    }
    .choice:hover{
        border: 3px solid mediumseagreen;
    }
    .tohide{
        display: none;
    }
    .row{
        border: none;
        box-shadow: none;
        margin: 20px 0px 0px 0px;
    }

    .mini-timer{
        display: block;
        border: green 1px solid;
        border-radius: 50px;
        margin: 0 auto;
        height: 50px;
        width: 50px;
        font-size: 25px;
        text-align: center;
        padding: 4px;
        color: green;
    }
    #question p{
        font-size: 25px;
    }
    .cat_btn{
        width: 48%;
        height: 24%;
    }
    #btn-gp{
        height: 800px;
    }
    .fas{
        left: 40px;
        font-size: 50px;
        top: 50px;
    }
    .icon-text{
        left: 50px;
        top: 100px;
    }
    .fas.fa-plus-square{
        top: 58px;
        left: 59px;
        font-size: 35px;
        position: absolute;
    }
    .fas.fa-vial{
        position: absolute;
        font-size: 45px;
        left: 54px;
    }
    .icon-text.tech{
        left: 40px;
        position: absolute;
    }
    .fas.fa-film{
        position: absolute;
        left: 55px;
        font-size: 45px;
    }
    .icon-text.film{
        position: absolute;
        left: 60px;
    }
    .fas.fa-calculator{
        position: absolute;
        left: 60px;
        font-size: 45px;
    }
    .icon-text.cal{
        position: absolute;
        left: 60px;
        top: 120px;
    }
    .fas.fa-rocket{
        position: absolute;
        font-size: 50px;
        left: 53px;
        top: 55px;
    }
    .icon-text.phy{
        position: absolute;
        left: 53px;
        top: 120px;
    }
    .fab.fa-html5{
        position: absolute;
        top: 50px;
        left: 55px;
        font-size: 55px;
    }
    .icon-text.html{
        position: absolute;
        left: 60px;
        top: 110px;
    }
    .fas.fa-tv{
        position: absolute;
        left:50px;
        top: 60px;
        font-size: 45px;
    }
    .icon-text.com{
        position: absolute;
        left: 48px;
        top: 110px;
    }
  }